*.cmake
*.dir
*.filters
*.sln
*.vcxproj
*.user

# Working directories
build_Debug/
build_Release/
dtb/
work/

# CMake
CMakeFiles/
CMakeCache.txt

# Editor
.vscode/ipch/
.vscode/settings.json

# Windows (MSVC)
.vs/
Debug/
Release/
Win32/
ipch/
x64/
x86/
