*.cmake
*.dir
*.filters
*.sln
*.vcxproj
*.user

# Build
build

# CMake
CMakeFiles/
CMakeCache.txt

# Cppcheck
*-cppcheck-build-dir/

# Editor
.vscode/

# Windows (MSVC)
.vs/
Debug/
Release/
Win32/
ipch/
x64/
x86/
